<style>
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
</style>

h1{
	font-size: 50px;
	font-weight: 32px;
	color: lightgreen;
	font-family: 'Libre Barcode 39 Text', cursive};